@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IMG</th>
      <th scope="col">NOME</th>
      <th scope="col">PREZZO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="https://picsum.photos/id/23/100/100" /></td>
      <td>Margherita</td>
      <td>15.32</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="https://picsum.photos/id/45/100/100" /></td>
      <td>Diavola</td>
      <td>9.90</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><img src="https://picsum.photos/id/222/100/100" /></td>
      <td>P. Funghi</td>
      <td>12.50</td>
    </tr>
  </tbody>
</table>

